// out: style.css, sourcemap: false, compress: true
@import url('https://fonts.googleapis.com/css?family=Kanit');
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

@color-white:#FFF;
@color-black:#000;
@color-font:#666;
@color-sub:#047F2D;
@color-main:#35c37f;
@color-master:#2B7F47;
@color-line:@color-sub;
@color-bg:#f1f1f1;
@color-bordercolor:#E5E5E5;
@color-header:#2AB271;
@layoutwidth:700px;

//reset
body{font-family: 'Kanit','Noto Sans KR',sans-serif; }
body,html,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,p{margin:0; padding:0;}
ul,ol,li{list-style:none;}
img{border:0; vertical-align: top;}
input{vertical-align: middle;}
a{
  text-decoration: none;
  color:@color-font;
}
h2,h3{margin: 10px 0 5px; ;}
h3,h2 a{color:#323232; }

//option

.under_bar{font-weight: bold; border-bottom:1px @color-bordercolor solid;}

//layout
#header{

    background-image: url(images/rocket.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding:100px 50px 20px 50px;
    text-align: center;
    height: 190px;
    position: relative;

    .header_content{
        margin:0 auto;
        }

    div.search{

        input[type="text"]{
                position: relative;
                input[type="button"]{
                position:relative;
                border: none;
                right: 453px;
                top: 199px;
                height: 19px;
                text-indent: -9999px;
                }
            }
        }

  h1{
    font-size:30px;
    font-weight: 300;
    border-bottom:2px @color-white solid;
    padding-bottom:5px;
    display:inline-block;
    text-transform:uppercase;
    a{
      color:@color-white;
      span{
        font-size:12px;
        display:block;
          }
        }
      }




  .blogMenu{
      font-size:0;
      li{
          font-size:14px;
          margin:0 5px;
          display: inline-block;
          a{
             color:@color-white;

          }
      }
  }

}
#container{

    #content{
        width: @layoutwidth;
        float:right;
        }/*content*/

  width: 990px;
  margin:20px auto 0;

  .entry{
    padding-bottom: 50px;
    .titleWrap{
      margin-bottom:30px;
      h2 a{
        font-weight: bold;
        border-bottom:2px @color-main solid;
          }
        }
    .tagTrail{
      border:1px @color-sub solid;
      border-radius:3px;
      margin:40px 0 0;
      padding:10px 20px;
      position:relative;
      .tagText{
        border-radius:3px 3px 0 0 ;
		margin-left:20px;
        position:absolute;
        left:0;
        top:-30px;
        height:30px;
        padding:0 15px;
        background-color: @color-sub;
        color:@color-white;
      }
      a{
       font-size:12px;
       color:@color-white;
       background-color:@color-main;
       padding:0 10px;
       border-radius:3px;
      }
    }
	.comment{

		margin-top:30px;
		.commentList{
			>ol li{ margin:20px 10px;
			position:relative;
            min-height: 60px;


			.image{
				display:block;
				width: 50px;
				height: 50px;
				border-radius:50%;
				border:2px #2AB2A4 solid;
				overflow: hidden;
				float:left;
				margin-right: 10px;
				img{
					width: 100%;
				}
			}
			span.control{
        text-align: center;
				float:right;
        margin:0;
        +p{
          overflow:hidden;
          }
				a{
          display:inline-block;
    		font-size: 10px;
    		font-weight: lighter;
          }
          span{
            border-radius:3px ;
		    height:14px;
		    padding:0 3px;
            background-color: @color-main;
            color:@color-white;
                }
                .write span{
                 background-color: @color-header;
			    }
			  }


            }/*ol>li*/
            >ol li li{margin-left:60px; }

		}/*comment*/
		.commentWrite{
			 .name{
 				font-size: 9px;
 				color:@color-white;
 			}
 			.date{
 				font-size: 9px;
 		 	}

			input[value="댓글 달기"]{
                float:right;
                height: 25px;
				color:@color-white;
				background-color: @color-header;
				border-radius: 5px;
				border:0;
				font-size: 11px;
				padding: 0 15px;
                margin: 5px;
                display:block;
			    }

		    }

        .textwrap{
            border: 1px @color-bordercolor solid;
            border-radius: 10px;
            margin: 0 auto;
            display: block;
            text-align:center;
            textarea{
                border: 0 none;
                width: 98%;
                resize:none;
                vertical-align: top;

              }
             }
            }/*comment*/
    .paging{
        text-align: center;
        padding: 20px 0;
        a{
            border: 1px @color-bordercolor solid ;
            padding: 0 5px;
            border-radius: 3px;
            font-size: 12px;
            }

        }
    }/*entry*/

    #sidebar{
      max-width: 225px;
      color:@color-font;
      margin-right: @layoutwidth;
      padding: 15px 50px 0 0;
      position: relative;



      li{overflow:hidden;
      text-overflow:ellipsis;}

      .userID{
        display:block;
        margin-bottom: 5px;
        font-size: 20px;
        color: #323232;
        font-weight: bolder;
      }
      .blogDesc{
        width: 220px;
        margin-bottom: 20px;
      }

      .blog_fake{
          width: 220px; height: 220px;
          border: 1px #bcd796 solid;
          border-radius: 50%;
          position:absolute;
          z-index:10;

          &:hover{
              animation: mymove 5s infinite; box-shadow:1px 1px 20px #000 inset;
              }

           @keyframes mymove {
              20% {top: 0; left: 0; background-image: url(images/simka.png); width: 300px; height: 300px;}
              0%   {top: -500px;  right:5000px; background-image: url(images/simka.png); width: 0px; height: 0;  transform:rotate(-500deg);}
              40% {top: 100px; left: 50px; background-image: url(images/simka.png); width: 500px; height: 500px; }
              60% {top: -500px; left: -500px; background-image: url(images/thumb_crop_resize.jpg); width: 2000px; height: 2000px; border-radius:0;}
              80% {top: 0; left: 100px; background-image: url(images/thumb_crop_resize.jpg); width: 500px; height: 500px;}
              100% {top: 0; left: 0;  background-image: url(images/simka.png); width: 225px; height: 225px;}
              }
      }
      .blogImage{
        width: 220px; height: 220px;
        border: 1px #bcd796 solid;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        background-image: url(images/simka.png);
        background-image: url(images/thumb_crop_resize.jpg);
        img{
            width: 100%;
        }



        }
        .category{
         h3{margin-top: 20px;}
        }
        div.counter{
            margin: 10px 0 ;
        }
        div.link{
            margin: 10px 0 ;
        }


    }/*sidebar*/
    .guestWrite{
        margin-bottom: 30px;
        position:relative;
        .guep{
            height: 154px;
            border: 1px @color-bordercolor solid;
            border-radius: 10px;
            margin: 0 auto;
            display: block;
            text-align:center;
            margin-bottom: 30px;

        textarea{
            border: 0 none;
            width: 98%;
            resize:none;
            vertical-align: top;
            height: 150px;
                }
            }
        .lastguest{
            float:right;
            input[type="submit"]{
                position: absolute;
                bottom:-35px;
                right:0;
                border:none;
                float:right;
                height: 25px;
                color:@color-white;
                background-color: @color-header;
                border-radius: 5px;
                border:0;
                font-size: 11px;
                padding: 0 15px;
                margin: 5px;
                display:block;
            }
          }
        }/*guestWrite*/


  } /*container*/






//
