@import url('https://fonts.googleapis.com/css?family=Oswald');
body {
  font-family: 'Oswald', 'Calibri', sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  vertical-align: top;
}
header {
  height: 80px;
}
.fontfif {
  font-size: 15px;
}
.goaway {
  text-indent: -9999px;
  font-size: 0;
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.wrap .header_container {
  background-color: #000;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  position: fixed;
  z-index: 10000;
}
.wrap .header_container .hidden_mnbar {
  display: block;
  position: absolute;
  top: 80px;
  width: 100%;
  background-color: #FF0;
  height: 180px;
  border-bottom: 1px #9C9C9C solid;
  visibility: hidden;
}
.wrap .header_container .logo {
  position: absolute;
  width: 63px;
  height: 43px;
  top: 18px;
  left: 30px;
  vertical-align: middle;
}
.wrap .header_container h1 {
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}
.wrap .header_container .mainNavi > ul {
  font-size: 0;
  width: 1200px;
  height: 80px;
  text-align: center;
  position: relative;
  margin: 0 auto;
}
.wrap .header_container .mainNavi > ul li {
  width: 220px;
  display: inline-block;
}
.wrap .header_container .mainNavi > ul li a {
  letter-spacing: 0.05em;
  line-height: 80px;
  color: #FFF;
  font-size: 16px;
  padding: 0 15px;
  display: block;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
  position: relative;
}
.wrap .header_container .mainNavi > ul li a span.bt_line {
  height: 3px;
  width: 0;
  position: absolute;
  background-color: #009599;
  bottom: 0;
  left: -30px;
  transition: 0.25s linear;
}
.wrap .header_container .mainNavi > ul li .depth_wrap {
  width: 220px;
  padding: 25px 0 ;
  position: absolute;
  top: 80px;
  visibility: hidden;
}
.wrap .header_container .mainNavi > ul li .depth_wrap ul.depth {
  position: relative;
}
.wrap .header_container .mainNavi > ul li .depth_wrap ul.depth li {
  height: 29px ;
  margin: 5px 0;
  float: none;
  display: block;
}
.wrap .header_container .mainNavi > ul li .depth_wrap ul.depth li a {
  line-height: 29px;
  color: #9C9C9C;
}
.wrap .header_container .mainNavi > ul li .depth_wrap ul.depth li a span {
  height: 16px;
  font-size: 14px;
}
.wrap .header_container .mainNavi > ul li .depth_wrap:before {
  content: "";
  width: 1px;
  height: 180px;
  background: #9C9C9C;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}
.wrap .header_container .mainNavi > ul .hover_letter:hover .bt_line {
  width: 100%;
  bottom: 0;
  left: 0;
}
.wrap .header_container .mainNavi > ul .hover_letter:hover span {
  color: #009599;
}
.wrap .header_container .mainNavi > ul .depth:hover span {
  color: #009599;
}
.wrap .header_container .right_gnb {
  height: 35px;
  float: right;
  display: block;
}
.wrap .header_container .right_gnb .home_back {
  width: 40px;
  height: 35px;
  background-color: #222;
  display: block;
  position: absolute;
  top: 22px;
  right: 105px;
}
.wrap .header_container .right_gnb .home_back .home_icon {
  width: 40px;
  height: 35px;
  position: absolute;
  transition: 0.5s ease;
  background-image: url(http://www.tkgroup.co.kr/kor/_Img/Layout/home-ico.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.wrap .header_container .right_gnb .home_back .home_icon span {
  text-indent: -9999px;
  font-size: 0;
}
.wrap .header_container .right_gnb .gnb_lang {
  width: 45px;
  height: 35px;
  position: absolute;
  right: 60px;
  top: 22px;
  background-color: #086c6d;
}
.wrap .header_container .right_gnb .gnb_lang a {
  transition: 0.5s ease;
  text-align: center;
  display: block;
  letter-spacing: 0.05em;
}
.wrap .header_container .right_gnb .gnb_lang a span {
  line-height: 35px;
  color: #FFF;
  font-size: 12px;
  font-weight: 600;
}
.wrap .header_container .right_gnb .gnb_btall {
  width: 40px;
  height: 35px;
  position: absolute;
  top: 22px;
  right: 10px;
  transition: all .3s ease;
  z-index: 2300;
  display: block;
  overflow: hidden;
  background-color: none;
  transition: all 0.3s ease;
}
.wrap .header_container .right_gnb .gnb_btall .gnb_sline01 {
  position: absolute;
  top: 9px;
  right: 10px;
  width: 22px;
  height: 2px;
  background: #FFF;
}
.wrap .header_container .right_gnb .gnb_btall .gnb_sline02 {
  position: absolute;
  top: 17px;
  right: 10px;
  width: 16px;
  height: 2px;
  background: #FFF;
}
.wrap .header_container .right_gnb .gnb_btall .gnb_sline03 {
  position: absolute;
  top: 25px;
  right: 10px;
  width: 22px;
  height: 2px;
  background: #FFF;
}
.wrap .main_video_span {
  display: block;
  position: relative;
  overflow: hidden;
  height: 825px;
}
.wrap .mn_slogan {
  position: absolute;
  z-index: 1000;
  top: 50%;
  margin-top: -65.1px;
  width: 100%;
  text-align: center;
}
.wrap .mn_grid {
  font-size: 0;
}
.wrap .mn_grid li.grid_hover_li {
  width: 33.33333%;
  display: inline-block;
  position: relative;
  transition: 1s;
  overflow: hidden;
}
.wrap .mn_grid li.grid_hover_li img {
  transition: 1s ease;
  width: 100%;
}
.wrap .mn_grid li.grid_hover_li .grid_letter_wrap {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 22px;
  z-index: 1000;
}
.wrap .mn_grid li.grid_hover_li .grid_letter_wrap .grid_letter_inner {
  width: 160px;
  display: inline-block;
  padding: 15px 0;
  position: relative;
  text-transform: uppercase;
  font-size: 25px;
  color: #FFF;
  font-weight: 600;
  text-align: center;
}
.wrap .mn_map {
  width: 100%;
  height: 900px;
  background-image: url(../image/map_bg.png);
  position: relative;
}
.wrap .mn_map h3 {
  padding-top: 100px;
  font-size: 42px;
  font-weight: 600;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.05em;
}
.wrap .mn_map .map_global,
.wrap .mn_map .map_icons1,
.wrap .mn_map .map_icons2,
.wrap .mn_map .map_icons3,
.wrap .mn_map .map_icons4,
.wrap .mn_map .map_icons5 {
  width: 1332px;
  height: 574px;
  top: 236px;
  left: 50%;
  margin-left: -666px;
  position: absolute;
}
.wrap .mn_map .map_letter1 {
  font-family: Calibri;
  position: absolute;
  left: 676px;
  top: 196px;
  width: 105px;
  color: #FFF;
  text-transform: uppercase;
  font-size: 15px;
}
.wrap .mn_map .map_letter1 strong {
  font-weight: 300;
  display: block;
}
.wrap .mn_map .map_letter1 .map_line01 {
  display: block;
  position: absolute;
  width: 1px;
  height: 27px;
  left: -62px;
  top: -6px;
  background: rgba(255, 255, 255, 0.4);
}
.wrap .mn_map .map_letter1 .map_line02 {
  display: block;
  position: absolute;
  width: 50px;
  height: 1px;
  left: -61px;
  top: 20px;
  background: rgba(255, 255, 255, 0.4);
}
.wrap .mn_map .map_letter2 {
  font-family: Calibri;
  position: absolute;
  left: 408px;
  top: 116px;
  color: #FFF;
  text-transform: uppercase;
  font-size: 15px;
  display: block;
}
.wrap .mn_map .map_letter2 .map_line01 {
  display: block;
  position: absolute;
  width: 1px;
  height: 36px;
  right: 2px;
  top: 22px;
  background: rgba(255, 255, 255, 0.4);
}
.wrap .mn_map .map_letter2 .map_line02 {
  display: block;
  position: absolute;
  width: 60px;
  height: 1px;
  right: -58px;
  top: 57px;
  background: rgba(255, 255, 255, 0.4);
}
.wrap .mn_map .map_letter3 {
  font-family: 'Calibri';
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  position: absolute;
  line-height: 140%;
  left: 676px;
  top: 270px;
}
.wrap .mn_map .map_letter3 span:first-child {
  display: block;
}
.wrap .mn_map .map_letter3 .map_line01 {
  display: block;
  position: absolute;
  width: 98px;
  height: 1px;
  left: -109px;
  top: 13px;
  background: rgba(255, 255, 255, 0.4);
}
.wrap .mn_map .map_letter3 .map_line02 {
  display: block;
  position: absolute;
  width: 1px;
  height: 22px;
  left: -29px;
  top: 14px;
  background: rgba(255, 255, 255, 0.4);
}
.wrap .mn_map .map_letter3 .map_line03 {
  display: block;
  position: absolute;
  width: 17px;
  height: 1px;
  left: -28px;
  top: 35px;
  background: rgba(255, 255, 255, 0.4);
}
.wrap .mn_map .map_letter4 {
  font-family: 'Calibri';
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  position: absolute;
  line-height: 140%;
  left: 372px;
  top: 389px;
}
.wrap .mn_map .map_letter4 .map_line01 {
  display: block;
  position: absolute;
  width: 47px;
  height: 1px;
  right: -66px;
  top: 13px;
  background: rgba(255, 255, 255, 0.4);
}
.wrap .mn_map .map_letter4 .map_line02 {
  display: block;
  position: absolute;
  width: 1px;
  height: 37px;
  right: -66px;
  top: -24px;
  background: rgba(255, 255, 255, 0.4);
}
.wrap .mn_map .map_letter5 {
  font-family: 'Calibri';
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  position: absolute;
  line-height: 140%;
  left: 1050px;
  top: 235px;
}
.wrap .mn_map .map_letter5 strong {
  font-weight: 300;
  display: block;
  color: #ec7a00;
  font-size: 17px;
}
.wrap .mn_map .map_letter5 .map_line01 {
  display: block;
  position: absolute;
  width: 1px;
  height: 97px;
  left: -179px;
  top: -74px;
  background: rgba(236, 122, 0, 0.4);
}
.wrap .mn_map .map_letter5 .map_line02 {
  display: block;
  position: absolute;
  width: 166px;
  height: 1px;
  left: -178px;
  top: 22px;
  background: rgba(236, 122, 0, 0.4);
}
.wrap .mn_two_grid ul {
  font-size: 0;
}
.wrap .mn_two_grid ul li {
  overflow: hidden;
  display: inline-block;
  width: 50%;
  position: relative;
}
.wrap .mn_two_grid ul li .mn_social_img img {
  width: 100%;
}
.wrap .mn_two_grid ul li .mn_span1 {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.03em;
  color: #FFF;
  z-index: 500;
}
.wrap .mn_two_grid ul li .mn_span2 {
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0;
  color: #FFF;
  z-index: 500;
}
.wrap .frontier {
  width: 100%;
  position: relative;
}
.wrap .frontier .frontier_img img {
  width: 100%;
}
.wrap .frontier_ad {
  display: block;
  position: absolute;
  top: 99px;
  right: 5%;
  width: 321px;
  height: 170px;
}
.wrap .frontier_ad img {
  width: 100%;
}
.wrap footer {
  background-color: #080808;
}
.wrap footer .footer_top_wrap {
  width: 100%;
  background-color: #191919;
}
.wrap footer .footer_top_wrap .footer_ul_wrap {
  width: 1200px;
  height: 70px;
  font-size: 0;
  margin: 0 auto;
}
.wrap footer .footer_top_wrap .footer_ul_wrap ul li {
  width: 50%;
  height: 70px;
  display: inline-block;
  font-size: 12px;
  text-align: center;
}
.wrap footer .footer_top_wrap .footer_ul_wrap ul li a {
  position: relative;
  display: block;
  width: 100%;
  line-height: 70px;
}
.wrap footer .footer_top_wrap .footer_ul_wrap ul li a span.fbg_icon_left {
  line-height: normal;
  color: #FFF;
  display: inline-block;
  padding: 0 30px 0 40px;
  background-image: url(../image/ftoplink_arr.png);
  background-repeat: no-repeat;
  background-position: right center;
}
.wrap footer .footer_top_wrap .footer_ul_wrap ul li a span.fbg_icon_left:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-image: url(../image/ftoplink_ico01.png);
  left: 217px;
  top: 21px;
}
.wrap footer .footer_top_wrap .footer_ul_wrap ul li a span.fbg_icon_right {
  line-height: normal;
  color: #FFF;
  display: inline-block;
  padding: 0 30px 0 40px;
  background-image: url(../image/ftoplink_arr.png);
  background-repeat: no-repeat;
  background-position: right center;
}
.wrap footer .footer_top_wrap .footer_ul_wrap ul li a span.fbg_icon_right:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-image: url(../image/ftoplink_ico02.png);
  left: 200px;
  top: 21px;
}
.wrap footer .footer_c_info {
  width: 100%;
  padding: 84px 0;
  width: 1200px;
  margin: 0 auto;
}
.wrap footer .footer_c_info .footer_contents {
  text-align: center;
  width: 100%;
  color: #b5b5b5;
}
.wrap footer .footer_c_info .footer_contents .footer_logo {
  width: 1200px;
  margin-bottom: 30px;
  text-align: center;
}
.wrap footer .footer_c_info .footer_contents .footer_info {
  width: 100%;
  height: 19px;
}
.wrap footer .footer_c_info .footer_contents .footer_info span {
  display: inline-block;
  margin-left: 14px;
  font-size: 15px;
  color: #b5b5b5;
}
.wrap footer .footer_c_info .footer_contents .footer_copy_right {
  margin-top: 8px;
  color: #535353;
  font-size: 12px;
  letter-spacing: 0.05em;
}
.home_back:hover .home_icon {
  background-color: #555;
}
.gnb_lang:hover a.lang_a {
  background-color: #199394;
}
.gnb_btall:hover .gnb_sline01 {
  animation-duration: 1.8s;
  animation-timing-function: linear;
  animation-name: secBtnAnimate1;
  animation-iteration-count: infinite;
}
.gnb_btall:hover .gnb_sline02 {
  animation-duration: 1.8s;
  animation-timing-function: linear;
  animation-name: secBtnAnimate2;
  animation-iteration-count: infinite;
}
.gnb_btall:hover .gnb_sline03 {
  animation-duration: 1.8s;
  animation-timing-function: linear;
  animation-name: secBtnAnimate1;
  animation-iteration-count: infinite;
}
.li_group:hover div.depth_wrap {
  visibility: visible;
}
.grid_hover_li:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 131, 132, 0.5);
  opacity: 0;
  transition: 1s;
}
.grid_hover_li:hover:after {
  opacity: 1;
}
.grid_hover_li:hover img {
  transform: scale(1.1, 1.1);
}
.grid_letter_inner .line01 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFF;
  height: 4px;
  width: 0%;
  transition: 0.5s linear;
}
li.grid_hover_li:hover .line01 {
  width: 100%;
}
.grid_letter_inner .line02 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FFF;
  height: 0%;
  width: 4px;
  transition: 0.5s linear;
  transition-delay: 0.5s;
}
li.grid_hover_li:hover .line02 {
  height: 100%;
}
.grid_letter_inner .line03 {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #FFF;
  height: 4px;
  width: 0%;
  transition: 0.5s linear;
  transition-delay: 1s;
}
li.grid_hover_li:hover .line03 {
  width: 100%;
}
.grid_letter_inner .line04 {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  height: 0%;
  width: 4px;
  transition: 0.5s linear;
  transition-delay: 1.5s;
}
li.grid_hover_li:hover .line04 {
  height: 100%;
}
.grid_letter_inner:before {
  width: 20px;
  height: 3px;
  background: #fff;
  top: 0;
  margin-left: -10px;
  left: 50%;
  position: absolute;
  display: block;
  content: "";
}
li.grid_hover_li:hover .grid_letter_inner:before {
  width: 0;
  transition: all 0.4s ease-out;
  margin-left: 0;
}
.mn_span1:before {
  width: 20px;
  height: 3px;
  background: #fff;
  top: -22px;
  margin-left: -10px;
  left: 50%;
  position: absolute;
  display: block;
  content: "";
}
.mn_two_li:hover .mn_span1:before {
  width: 0;
  transition: all 0.4s ease-out;
  margin-left: 0;
}
.mn_two_li:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 131, 132, 0.5);
  opacity: 0;
  transition: 1s;
}
.mn_two_li:hover:after {
  opacity: 1;
}
.mn_two_li:hover .mn_social_img img {
  transform: scale(1.1, 1.1);
  transition: 1s;
}
@keyframes secBtnAnimate1 {
  0% {
    transition: width 2s;
    width: 22px;
  }
  50% {
    transition: width 2s;
    width: 12px;
  }
  100% {
    transition: width 2s;
    width: 22px;
  }
}
@keyframes secBtnAnimate2 {
  0% {
    transition: width 2s;
    width: 16px;
  }
  50% {
    transition: width 2s;
    width: 22px;
  }
  100% {
    transition: width 2s;
    width: 16px;
  }
}
